.App {

  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  text-align: center;
}

.App-title {

  color: black;
 

}

.App-header {
 background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
